.App {
  text-align: center;
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
}

.song {
  text-align: left;
  vertical-align: middle;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.song-play {
  display: inline-block;
  vertical-align: middle;
}

.song-text {
  width: 75%;
  height: 50%;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}

.song-like {
  display: inline;
  position: relative;
  z-index: 2;
  top: 15%;
  bottom: 50%;
  height: 30px;
  vertical-align: middle;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}

.song-meta {
  display:inline;
  vertical-align: middle;
  color: grey;
  font-size: 12px;
}

.song-artist {
  font-size: 15px;
  vertical-align: middle;
}

.song-playcount {
  font-size: 9px;
  display: inline;
  vertical-align: middle;
  text-align: right;
  color: lightgrey;
}

#follow-button {
  font-size: 12px;
}

#user-tracks {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

#user-favorites {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #c1c1c1;
  position: absolute;
}

.song-date {
  font-size: 10px;
  font-style: italic;
}

#uploadDiv {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 500px;
  padding-top: 40px;
  justify-content: center;
}

#main-body {
  display: inline-block;
  overflow: scroll;
  height: 90vh;
  width: 90%;
  padding-top: 60px;
  float: right;
  position: fixed;
  right: 0px;
  background-color: #c1c1c1;
}

#sidebar {
  font-family: 'Share Tech Mono', monospace;
  position: fixed;
  left: 0;
  z-index: 2;
  display: inline-block;
  width: 10%;
  padding-top: 60px;
  height: 100%;
  float: left;
}

.sidebarButton {
  color: #b2b2b2;
}

#songList {
  padding: 0px;
  border-color: rgb(170, 170, 170);
  border-style: solid;
  border-width: 2px;
}

#showDiv {
  display: block;
  position: absolute;
  padding-left: 20px;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 100%;
  height: 80%;
  z-index: 2;
}

#threeCanvas {
  z-index: 2;
  display: inline-block;
  position: absolute;
}

#comments {
  height: 50vh;
  display: block;
  overflow: scroll;
}

#editTrack {
  font-size: 18px;
}

#editForm {
  position: absolute;
  width: 80%;
}

#showName {
  display: inline-block;
  vertical-align: middle;
}

#showDesc {
  padding: 20px;
  font-size: 14px;
  text-align: left
}

#showHeader {
  display: block;
  text-align: left;
  width: 100%;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px;
}

#transport {
  position: fixed;
  bottom: 0px;
  z-index: 4;
  height: 100px;
  width: 100%;
  text-align: left;
  font-family: 'Share Tech Mono', monospace;
}

#transport-canvas {
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;
  text-align: left;
  font-family: 'Share Tech Mono', monospace;
}

#transport-meta {
  position: fixed;
  width: 30%;
  padding-left: 20px;
  color: #efefef;
  background-color: #444444;
  z-index: 1;
  right: 0;
  vertical-align: middle;
}

.volSlider {
  position: absolute;
  right: 0px;
  width: 400px;
  z-index: 1;
}

#vol-control {
  display: fixed;
}

#navbar {
  width: 100%;
  height: 40px;
  background-color: grey;
  margin-bottom: 20px;
  text-align: left;
}

.navStuff {
  font-family: 'Share Tech Mono', monospace;
}

#navbarLogo {
  font-family: 'Share Tech Mono', monospace;
}

#play-button {
  position: fixed;
  z-index: 1;
  width: 100px;
  height: 100px;
}
