.App {
  text-align: center;
}

.song {
  text-align: left;
}

.song-play {
  display: inline-block
}

.song-like {
  display: inline-block;
  height: 30px;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}

.song-meta {
  display:inline-block;
  font-size: 20px;
}

.song-artist {
  font-size: 14px;
}

#user-tracks {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

#user-favorites {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}


.song-date {
  font-size: 10px;
  font-style: italic;
}

#main-body {
  height: 80%;
}

#songList {
  padding: 20px;
}

#showDiv {
  display: inline-block;
  padding: 20px;
  float: left;
  width: 100%;
}

#showName {
  display: inline-block;
}

#showDesc {
  padding: 20px;
  font-size: 14px;
  text-align: left
}

#showHeader {
  display: block;
  text-align: left;
  width: 100%;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px;
}

#transport {
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;
  text-align: left;
}

#vol-control {
  display: fixed;
}

#navbar {
  width: 100%;
  height: 40px;
  background-color: grey;
  margin-bottom: 20px;
  text-align: left;
}

#play-button {
  position: absolute;
  width: 100px;
  height: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
